<div class="example-container mat-elevation-z8">
  <mat-table #table [dataSource]="dataSource" matSort>

    <!-- Position Column -->
    <ng-container matColumnDef="id">
      <mat-header-cell *matHeaderCellDef mat-sort-header> ID </mat-header-cell>
      <mat-cell *matCellDef="let ride"> {{ride.id}} </mat-cell>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="from">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Von </mat-header-cell>
      <mat-cell *matCellDef="let ride"> {{ride.from}} </mat-cell>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="to">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Nach </mat-header-cell>
      <mat-cell *matCellDef="let ride"> {{ride.to}} </mat-cell>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="provider">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Anbieter </mat-header-cell>
      <mat-cell *matCellDef="let ride"> {{ride.provider}} </mat-cell>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="booking">
      <mat-header-cell *matHeaderCellDef> </mat-header-cell>
      <mat-cell *matCellDef="let ride">
        <button mat-raised-button class="changebutton" routerLink="/rides/{{ride.id}}"> Zur Buchung </button>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>

  <mat-paginator #paginator
                 [pageSize]="10"
                 [pageSizeOptions]="[3, 5, 10, 20]">
  </mat-paginator>
</div>
